
.message-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: stretch;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color:#8DA5C6;
    z-index: 999;
    opacity: .5;
}

.game-over {
    background-color: red;
    opacity: 1;
    font-weight: bold;
}

.hidden {
    display: none;
}
